<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-4 rounded-3 shadow">
        <div class="card-header py-3 text-center bg-primary text-white">
          <h4 class="my-0 fw-normal">{{ employee?.name | uppercase }}</h4>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Salary:</strong> {{ employee?.salary | currency }}</p>
          <p class="card-text"><strong>Address:</strong> {{ employee?.address | uppercase }}</p>
        </div>
      </div>
      <ng-template #notFound>
        <div class="bg-dark text-light text-center p-5 rounded">
          <h1>This ID is not valid</h1>
        </div>
      </ng-template>
    </div>
  </div>
</div>
